block includes
  include ../_util-fns

// #docregion intro
- var langName = current.path[1] == 'ts' ? 'TypeScript' : 'JavaScript'
figure
  img(src="/resources/images/devguide/intro/people.png" alt="Us" align="left" style="width:200px; margin-left:-40px;margin-right:10px" )
:marked
  This is a practical guide to Angular for experienced programmers who
  are building client applications in HTML and #{langName}.

  Esta es una guía práctica de Angular para programadores experimentados que
  están construyendo aplicaciones cliente en HTML y #{langName}.

  <br clear="all">
// #enddocregion intro
// #docregion how-to-read-1
<a id="learning-path"></a>
:marked
  # Organization

  # Organización

  The documentation is divided into major thematic sections, each
  a collection of pages devoted to that theme.

  La documentación se divide en grandes secciones temáticas, con una
  colección de páginas dedicados a cada tema.

// #enddocregion how-to-read-1
// #docregion how-to-read-2
- var top="vertical-align:top"
table(width="100%")
  col(width="15%")
  col
  tr(style=top)
    td
      p <b>QuickStart</b>

      p <b>Inicio rápido</b>

    td
      :marked
        The foundation for every page and sample in this documentation.

        La base para cada página y ejemplo en esta documentación.
  tr(style=top)
    td
      p <b>Guide</b>

      p <b>Guía</b>
    td
      :marked
        The essential ingredients of Angular development.

        Los ingredientes esenciales del desarrollo en Angular.
  tr(style=top)
    td
      p <b>API Reference</b>

      p <b>Referencia de la API</b>
    td
      :marked
        Authoritative details about each member of the Angular libraries.

        Detalles fidedignos de cada parte de las librerías de Angular.
  tr(style=top)
    td
      p <b>Tutorial</b>

    td
      :marked
        A step-by-step, immersive approach to learning Angular that
        introduces the major features of Angular in an application context.

        Un enfoque paso a paso e inmersivo para aprender Angular, el cual introduce
        las características principales de Angular en el contexto de una aplicación.
  tr(style=top)
    td
      p <b>Advanced</b>

      p <b>Avanzado</b>
    td
      :marked
        In-depth analysis of Angular features and development practices.

        Análisis a fondo de las características y prácticas del desarrollo en Angular.
  tr(style=top)
    td
      p <b>Cookbook</b>

      p <b>Recetas</b>

    td
      :marked
        Recipes for specific application challenges, mostly code snippets with a minimum of exposition.

        Recetas para desafíos específicos de una aplicación, en su mayoría fragmentos de código con una mínima exposición.
:marked
  # Learning path

  # Ruta de aprendizaje

  You don't have to read the guide straight through.  Most pages stand on their own.

  No es necesario leer la guía en el orden que aparece. La mayoría de páginas son independientes.

  For those new to Angular, the recommended learning path runs through the *Guide* section:

  Para aquellos nuevo a Angular, el camino de aprendizaje recomendado recorre la sección *Aspectos básicos*

  1. For the big picture, read the [Architecture](architecture.html) overview.

  1. Para una visión general, Lea la [Arquitectura](architecture.html).

  1. Try [QuickStart](../quickstart.html). QuickStart is the "Hello, World" of Angular.

  It shows you how to set up the libraries and tools you'll need to write *any* Angular app.

  1. Pruebe el [Inicio rápido](../quickstart.html). El inicio rápido es el "Hola, mundo" de Angular 2.
  Le muestra cómo configurar las librerías y herramientas que necesitaremos para escribir *cualquier* aplicación en Angular.

  1. Take the *Tour of Heroes* [tutorial](../tutorial), which picks up where QuickStart leaves off,
  and builds a simple data-driven app. The app demonstrates the essential characteristics of a professional application:
  a sensible project structure, data binding, master/detail, services, dependency injection, navigation, and remote data access.

  1. Tome el [Tutorial](../tutorial) *Tour de Héroes*, el cual toma como base el Inicio Rápido
  y construye una simple aplicación dirigida por datos. La aplicación enseña las características esenciales de una aplicación profesional:
  una estructura de proyecto razonable, data binding, maestro/detalle, servicios, inyección de dependencias, navegación, y acceso de datos remotos.

  1. [Displaying Data](displaying-data.html) explains how to display information on the screen.

  1. [Presentación de datos](displaying-data.html) explica cómo obtener información en la pantalla.

  1. [User Input](user-input.html) covers how Angular responds to user behavior.

  1. [Entrada de usuario](user-input.html) cubre los conceptos básicos de responder al comportamiento del usuario.

  1. [Forms](forms.html) handle user data entry and validation within the UI.

  1. [Formularios](forms.html) manejan la entrada y validación de datos de los usuarios dentro de la interfaz.

  1. [Dependency Injection](dependency-injection.html) is the way we build large, maintainable applications
  from small, single-purpose parts.

  1. [Inyección de dependencias](dependency-injection.html) es la manera de construir aplicaciones grandes y fáciles de mantener
  a partir de piezas pequeñas y de propósito único.

  1. [Template Syntax](template-syntax.html) is a comprehensive study of Angular template HTML.

  1. La [Sintaxis de plantilla](template-syntax.html) es un estudio exhaustivo de la plantilla HTML con la que Angular trabaja.

  After reading the above sections, you can skip to any other pages on this site.

  Despues de leer las secciones de arriba, puedes saltar a cualquier otra página del sitio.
// #enddocregion how-to-read-2
// #docregion the-rest
:marked
  # Code samples

  # Códigos de ejemplo

  Each page includes code snippets that you can reuse in your applications.
  These snippets are excerpts from a sample application that accompanies the page.

  Cada página incluye algunos fragmentos de código que puede reutilizar en sus aplicaciones.
  Estos fragmentos son extractos de la aplicación de ejemplo que acompaña la página.

block example-links
  :marked
    Look for a link to a running version of that sample near the top of each page,
    such as this <live-example name="architecture"></live-example> from the [Architecture](architecture.html) page.

    Busca el enlace de la versión ejecutable de ese ejemplo cerca de la parte superior de cada página,
    como este [ejemplo ejecutable](/resources/live-examples/architecture/ts/plnkr.html) de la página [Arquitectura](architecture.html).

    The link launches a browser-based code editor where you can inspect, modify, save, and download the code.

    El enlace inicia un editor de código en el navegador en el que puede inspeccionar, modificar, guardar, y descargar el código.

:marked
  A few early pages are written as tutorials and are clearly marked as such.
  The rest of the pages highlight key points in code rather than explain each step necessary to build the sample.
  You can always get the full source through the #{_liveLink}.

  Algunos de los primeros capítulos han sido escritos como tutoriales y son marcados claramente como tales.
  La mayoría de los capítulos *no* son tutoriales.
  Ellos destacan los puntos clave del código en vez de explicar cada paso necesario para construir el ejemplo.
  Siempre podemos obtener el código fuente completo a través del #{_liveLink}.

  # Reference pages

  # Páginas de referencia

  The [Cheat Sheet](cheatsheet.html) lists Angular syntax for common scenarios.

  El [Cheat Sheet](cheatsheet.html) muestra la sintaxis de Angular para escenarios comunes.

  The [Glossary](glossary.html) defines terms that Angular developers should know.

  El [Glosario](glossary.html) define los términos que los desarrolladores de Angular deben conocer.

  The [API Reference](../api/) is the authority on every public-facing member of the Angular libraries.

  La [Referencia de la API](../api/) es la documentación oficial de cada librería de Angular pública.

  # Feedback

  # Comentarios

  We welcome feedback!

  ¡Aceptamos comentarios!

  Use the [angular.io Github repo](https://github.com/angular/angular.io) for **documentation** issues and pull requests.

  Use el repositorio de [angular.io](https://github.com/angular/angular.io) para problemas con la **documentación** y pull requests.
  Use el repositorio de [angular-es](https://github.com/angular/angular-es) para problemas con la traducción al castellano.

  Use the [Angular Github repo](https://github.com/angular/angular) to report issues with **Angular 2** itself.

  Use el repositorio de [angular](https://github.com/angular/angular) para reportar problemas con **Angular 2** en si.
// #enddocregion the-rest
